{% extends 'pr_tracking_web/base.html' %}

{% block title %}Create Workout Template{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="text-center position-absolute start-50 translate-middle-x">
        <form method="post">
            {% csrf_token %}
            <div class="card bg-dark text-white my-3" style="width: 50rem;">
                <div class="card-body border border-danger rounded">
                    <h1 class="card-title">Workout Name</h1>
                    <hr />

                    <div class="d-flex justify-content-center">
                        <div class="mx-1">
                            <label for="workout_template_name" class="form-label text-white">Template Name</label>
                            <input id="workout_template_name" type="text" name="workout_template_name" class="form-control" maxlength="128" required>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-danger mt-3">Continue to Exercises</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
