{% extends 'pr_tracking_web/base.html' %}

{% block title %}Create An Exercise{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div style="text-align: center;">
        <h1>Design a Workout</h1>
        <hr />

        <form id="form-container" method="POST">
            {% csrf_token %}

            {{ workout_name | crispy }}

            {{ formset.management_form }}
            <div id="exercise-formset">
                {% for form in formset %}
                    <table>
                            {{ form.as_table }}
                    </table>
                {% endfor %}
            </div>

            <button id="add-form" type="button" class="btn btn-success">Add An Exercise</button>
            <div id="empty-form" style="display:none;">
                <table>
                    {{ formset.empty_form.as_table }}
                </table>
            </div>
            <button type="submit" class="btn btn-success">Add Workout</button>
        </form>
    </div>

    <script>
        document.getElementById('add-form').addEventListener('click', function() {
            let formIdx = document.getElementById('id_designedworkout_set-TOTAL_FORMS').value;
            let formSet = document.getElementById('exercise-formset');
            let emptyFormHtml = document.getElementById('empty-form').innerHTML;
            formSet.insertAdjacentHTML('beforeend', emptyFormHtml.replace(/__prefix__/g, formIdx));
            document.getElementById('id_designedworkout_set-TOTAL_FORMS').value = parseInt(formIdx) + 1;
        });
    </script>
{% endblock %}
