{% extends 'pr_tracking_web/base.html' %}

{% block title %}Create Exercise Template{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="d-flex justify-content-center">
        <form id="form-container" method="POST">
            {% csrf_token %}
            {{ formset.management_form }}

            <div class="card bg-dark text-white my-3" style="width: 50rem;">
                <div class="card-body border border-3 rounded">
                    <h1 class="card-title text-white text-center">Add Your Exercises</h1>
                    <hr />

                    <div class="d-flex justify-content-center">
                        <table>
                            <tbody id="exercise-formset">
                                {% for form in formset %}
                                    <tr>
                                        <td>{{ form.exercise_name | as_crispy_field }}</td>
                                        <td>{{ form.number_of_sets | as_crispy_field }}</td>
                                        <td>{{ form.number_of_reps | as_crispy_field }}</td>
                                    </tr>
                                {% endfor %}

                                <tr id="empty-form" style="display:none;">
                                    <td>{{ formset.empty_form.exercise_name | as_crispy_field }}</td>
                                    <td>{{ formset.empty_form.number_of_sets | as_crispy_field }}</td>
                                    <td>{{ formset.empty_form.number_of_reps | as_crispy_field }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button id="add-form" type="button" class="btn btn-success mx-1">Add An Exercise</button>
                        <button type="submit" class="btn btn-success mx-1">Add Workout</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>
        $('#add-form').on('click', function() {
            let formIdx = $('#id_exercisetemplate_set-TOTAL_FORMS').val();
            let formSet = $('#exercise-formset');
            let emptyFormHtml = $('#empty-form').html();
            formSet.append(`<tr>${emptyFormHtml.replace(/__prefix__/g, formIdx)}</tr>`);
            $('#id_exercisetemplate_set-TOTAL_FORMS').val(parseInt(formIdx) + 1);
        });
    </script>
{% endblock %}
