{% extends 'pr_tracking_web/base.html' %}

{% block title %}Create An Exercise{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="position-absolute start-50 translate-middle-x">
        <h1 class="text-white">Create an Exercise</h1>

        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label for="exercise_name" class="form-label text-white">Exercise Name</label>
                <input id="exercise_name" type="text" name="exercise_name" class="form-control" maxlength="128" required>
            </div>
            <div class="mb-3">
                <label for="body_part" class="form-label text-white">Body Part</label>
                <input id="body_part" type="text" name="body_part" class="form-control" maxlength="128">
            </div>

            <button type="submit" class="btn btn-primary position-absolute start-50 translate-middle-x">Submit</button>
        </form>
    </div>
{% endblock %}
