{% extends 'pr_tracking_web/base.html' %}

{% block css_source %}
    {% load static %}
    <link href="{% static 'pr_tracking_web/exercises.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <div class="position-absolute start-50 translate-middle-x">
        <div class="card bg-dark text-white">
            <div class="card-body border border-danger rounded">
                <h1 class="card-title text-center">Exercise List Here</h1>
                <hr />

                <ul class="list-group list-group-flush px-5">
                    {% for exercise in exercises %}
                        <li class="list-group-item bg-dark text-white">
                            {{ exercise.exercise_name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
