{% extends 'pr_tracking_web/base.html' %}

{% block title %}List Workout Instances{% endblock %}

{% block content %}
    <div class="position-absolute start-50 translate-middle-x">
        <div class="card bg-dark text-white">
            <div class="card-body border border-danger rounded">
                <h1 class="card-title text-center">All your past workouts, what tremendous beauty....I'm proud (I'm lying)</h1>
                <hr />

                <ul class="list-group list-group-flush px-5">
                    {% for workout_instance in workout_instances %}
                        <li class="list-group-item bg-dark text-white">
                            <a class="text-white" href="/performances/list-performances/instances/{{ workout_instance.pk }}" style="text-decoration: none;">
                                {{ workout_instance }} at {{ workout_instance.created_at }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
