{% extends 'pr_tracking_web/base.html' %}

{% block title %}List Specific Workout Instances{% endblock %}

{% block content %}
    <h1 class="text-white text-center">{{ workout_title }}</h1>

    {% for name, sets in exercises.items %}
        <p class="text-white">{{ name }}</p>
        <ol>
            {% for set in sets %}
                {% if set.skipped %}
                    <li class="text-white">SKIPPED</li>
                {% else %}
                    <li class="text-white">{{ set.weight }} for {{ set.reps_completed }} reps</li>
                {% endif %}
            {% endfor %}
        </ol>
    {% endfor %}
{% endblock %}
