.center {
    margin: auto;
    width: 50%;
}

.large-text {
    font-size: 40px;
}

.pl-25 {
    padding-left: 25px;
}

.pr-25 {
    padding-right: 25px;
}

.pl-50 {
    padding-left: 50px;
}

.pr-50 {
    padding-right: 50px;
}

.red-text {
    color: red;
}
